/* Create Poem */

.circle-container {
  text-align: center;
}

.circle-text {
  width: 200px;
  height: 200px;
  color: #fff;
  text-align: center;
  padding-top: 35px;
  margin: 0 auto;
  border-radius: 50%;
  font-size: 1.3rem;
  box-shadow: 0 0 5px #959393;
}

@media only screen and (max-width: 1000px) {
  .circle-text {
    width: 100px;
    height: 100px;
  }
}

.self-create-img {
  background: url('../../assets/images/self-create.jpg');
}

.cangtou-img {
  background: url('../../assets/images/cangtou.jpg');
}

.emotion-img {
  background: url('../../assets/images/emotion.jpg');
}

.style-img {
  background: url('../../assets/images/style.jpg');
}

.jielong-img {
  background: url('../../assets/images/jielong.jpg');
}

.circle-text:hover {
  cursor: pointer;
  box-shadow: 0 0 15px #959393;
}

.circle-detail-text {
  margin-top: 20px;
  color: #636363;
}

/* Public */
.poem-row {
  height: 100%;
}

.poem-form {
  padding: 20% 5%;
  height: 500px;
}

@media only screen and (max-width: 575px) {
  .poem-form {
    height: 100%;
    padding: 5%;
  }
}

.result-container {
  height: 500px;
}

/* Poem Result */
.result {
  font-family: 'Ma Shan Zheng', cursive;
  color: #4f4d4d;
  width: 300px;
  height: 500px;
  margin: 0 auto;
  box-shadow: 0 0 5px #a2a2a2;
  border: #dededf 1px solid;
  border-radius: 3px;
}

.null-result {
  width: 300px;
  height: 500px;
  margin: 0 auto;
  border: #dededf 1px solid;
  border-radius: 3px;
  background: url('../../assets/images/null.jpg');
}

.result-poem-container {
  margin: 10% 0 0 10%;
  font-size: 1.4rem;
  writing-mode: vertical-rl;
}

.result-poem-title {
  margin-left: 10px;
  writing-mode: vertical-rl;
}

.result-poem {
  writing-mode: vertical-rl;
}

.result-author {
  font-size: 1.2rem;
  writing-mode: vertical-rl;
}

.result-author-container {
  writing-mode: vertical-rl;
  margin: 380px 0 0 30px;
}

.result-stamp {
  display: inline-block;
  margin-top: 10px;
  text-align: center;
  border-radius: 3px;
  background: #920000;
  height: 25px;
  weight: 25px;
  color: #fff;
  writing-mode: vertical-rl;
}

.result-poem:first-letter {
  color: #920000;
}

/* CangTou */
.cangtou-btn {
  margin-top: 10%;
  text-align: center;
}
